<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/tooplate-gymso-style.css">

    <title>About</title>
</head>
<body class="p-5" style="display: flex; align-items: center; justify-content: center;"> 

             <!-- <div class="container p-3 mb-5 sm-p-5">
                <img src="https://i.ibb.co/XY5ydBP/top.jpg" class="img-fluid p-3 shadow-lg shadow-lg"  alt="Responsive image">
                <img src="https://i.ibb.co/41j1qr3/skirts.jpg" alt="skirts " class="img-fluid p-3 shadow-lg" alt="Responsive image">
                <img src="https://i.ibb.co/dQFw5p2/neckline.jpg" alt="neckline" class="img-fluid p-3 shadow-lg" alt="Responsive image">
                <img src="https://i.ibb.co/YLZKkcP/pants.jpg" alt="pants" class="img-fluid p-3 shadow-lg" alt="Responsive image">
                <img src="https://i.ibb.co/YB9tn49/dress.jpg" alt="dress" class="img-fluid p-3 shadow-lg" alt="Responsive image">
                <img src="https://i.ibb.co/xm5wNLG/waistline.jpg" alt="waistline" class="img-fluid p-3 shadow-lg" alt="Responsive image">
             </div> -->
<!-- <div class="hero-text mt-5 text-center">
    <img src="./img/ACCESSORIES-converted_page-0001_ccexpress.jpeg" alt="">
    <button class="btn btn-outline-primary m-5">contact us</button>
    <button class="btn btn-outline-primary m-5">contact us</button>
</div> -->
<div class="card shadow-lg " style="width: 18rem;">
    <img class="card-img-top" src="https://i.ibb.co/Jkd21Sv/about.jpg" alt="Card image cap">
    <div class="card-body d-flex justify-content-center" style="background-color: black;">
      <a href="mailto:fangleupcyclestore@gmail.com" class="btn btn-primary m-1 fa fa-envelope">  Mail us</a>
      <a href="https://wa.me/9442829974?text=Hi%20Fangle" class="btn btn-success m-1 fa fa-whatsapp">  Whatsapp</a>
    </div>
</div>
         <style>
             image{
                 height: 100vh;
                 width: 100vw;
             }
         </style>
</body>

</html>