<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/tooplate-gymso-style.css">

    <title>About</title>
</head>
<body class="p-2" style="display: flex; align-items: center; justify-content: center;"> 

<div class="container" style="background-color: #FDC727;">
    <!-- <img src="https://i.ibb.co/Jkd21Sv/about.jpg" alt="Snow">
    
    <button class="btn btn-primary m-1 fa fa-envelope">  Mail us</button>
    <button class="btn2 btn-primary m-1 fa fa-envelope">  Mail us</button> -->
    <div class="row">
      <div class="col-sm">
        <h1>ABOUT US</h1>
        
        <p>EVERY INDIVIDUAL HAVE A
          LOOK AT THEIR CLOSET
          EVERYDAY AND IGNORE
          ATLEAST ONE OF THEIR
          CLOTHES AS IT EITHER LOOK
          TOO BORE OR HEAVY
          OUTDATED OR TOO FANCY, TORN
          OR STRAINED, TIGHT OR LOOSE
          OR WHATEVER THE REASON
          BE
          WE UPCYCLE YOUR APPAREL
          AND MAKE YOU WEAR IT IN
          YOUR OWN WAY SINCE IT'S
          ABSOLUTELY CUSTOMISABLE .</p>
          <h4 style="text-transform: capitalize; text-decoration: underline;">since nov 2021</h4>
      </div>
      <div class="col-sm">
        <h1>UPCYCLING ?</h1>
        <P>UPCYCLING IS SUSTAINABLE IN
          THE SENSE THAT IT HELPS
          REDUCE WASTE IN LANDFILLS,
          OCEANS, PARKS, AND WASTE
          MANAGEMENT FACILITIES. THIS
          IS CRUCIAL BECAUSE
          EXCESSIVE WASTE CAN HARM
          THE ENVIRONMENT IN A
          NUMBER OF WAYS</P>
      </div>
    </div>
    <div class="row p-3">
      <div class="col-sm">
        <h1>Our Team</h1>
        <div class="row">
<img src="https://i.ibb.co/hKWgSpK/7c9c1e24-7ee8-40dc-b3cf-d38f93df928c.jpg" alt="7c9c1e24-7ee8-40dc-b3cf-d38f93df928c" border="0">
        <div class="">
  
            <h3 >FOUNDER AND CREATIVE HEAD</h3>
            <h5>VIJAYALAKSHMI HP</h5>
          </div>
        </div>
        <div class="row">
          <div class="py-5 px-5">
            
            <h3 >TECHNICAL HEAD</h3>
            <h5>SHRIDHAR DEVARAJ</h5>
          </div>
          <img src="https://i.ibb.co/K0SBRGM/a00859bf-49d1-4121-8235-96b95ac0184c.jpg" alt="a00859bf-49d1-4121-8235-96b95ac0184c" border="0">        </div>
        <div class="row p-3">
          <img src="https://i.ibb.co/M25fzzL/c7d24e00-5c44-48fb-a8be-9d1b271c651e.jpg" alt="c7d24e00-5c44-48fb-a8be-9d1b271c651e" border="0">         <div class="py-5 px-2">
            <div>

              <h3  >ACCOUNTANT</h3>
              <h5>KESHAV JOSHUA</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm px-3">
            <h1>SERVICES</h1>
              <UL class="px-3">
                <LI>UPCYCLE APPAREL</LI>
                <LI>MENDING</LI>
                <LI>THRIFTING</LI>
                <LI>DONATE CLOTHS</LI>
                <LI>STYLING IDEAS</LI>
              </UL>
              <div class="p-3">

                <button class="button-32 fa fa-envelope" onclick="location.href='mailto:fangleupcyclestore@gmail.com'" role="button">     Contact us</button>
              </div>
          </div>
      <div class="container">
      </div>

    </div>


  </div>
  <style>

h3{
  font-size: 0.8rem;

}
h5{
  font-size: 0.5rem;
}
/* CSS */
.button-32 {
  background-color: #000000;
  border-radius: 12px;
  color: rgb(255, 254, 254);
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-32:not(:disabled):hover,
.button-32:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.button-32:disabled {
  filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}
    p{
      font-size: 1rem;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: black;
    }
    li{
      font-size: 1rem;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: black;
      list-style-type: square;
    }
    h1{
      text-decoration: underline;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }
    img{
      height: 6rem;
      width: 6rem;
      border-radius: 50%;
    }
      .container {
  position: relative;
  width: 100%;
}


.container .btn {
  position: absolute;
  top: 85%;
  left: 25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding:6px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
}
.container .btn2 {
  position: absolute;
  top: 92%;
  left: 25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding:6px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn2:hover {
  background-color: black;
}

        </style>
             <script src="js/jquery.min.js"></script>
             <script src="js/bootstrap.min.js"></script>
             <script src="js/aos.js"></script>
             <script src="js/smoothscroll.js"></script>
             <script src="js/custom.js"></script>
</body>

</html>