<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/tooplate-gymso-style.css">

    <title>Size Chart</title>
</head>
<body>

         <section>
             <div class="container p-3 mb-5 sm-p-5">
                <img src="https://i.ibb.co/XY5ydBP/top.jpg" class="img-fluid p-3 shadow-lg shadow-lg"  alt="Responsive image">
                <img src="https://i.ibb.co/41j1qr3/skirts.jpg" alt="skirts " class="img-fluid p-3 shadow-lg" alt="Responsive image">
                <img src="https://i.ibb.co/dQFw5p2/neckline.jpg" alt="neckline" class="img-fluid p-3 shadow-lg" alt="Responsive image">
                <img src="https://i.ibb.co/YLZKkcP/pants.jpg" alt="pants" class="img-fluid p-3 shadow-lg" alt="Responsive image">
                <img src="https://i.ibb.co/YB9tn49/dress.jpg" alt="dress" class="img-fluid p-3 shadow-lg" alt="Responsive image">
                <img src="https://i.ibb.co/xm5wNLG/waistline.jpg" alt="waistline" class="img-fluid p-3 shadow-lg" alt="Responsive image">
             </div>
         </section>
         <style>
             image{
                 height: 100vh;
                 width: 100vw;
             }
         </style>
</body>

</html>