<!DOCTYPE html>
<html lang="en">
<head>
     <title>Fangle Upcyclestore</title>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
     <link rel="stylesheet" href="css/bootstrap.min.css">
     <link rel="stylesheet" href="css/font-awesome.min.css">
     <link rel="stylesheet" href="css/aos.css">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
     <!-- MAIN CSS -->
     <link rel="stylesheet" href="css/tooplate-gymso-style.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
<body data-spy="scroll" data-target="#navbarNav" data-offset="50" style="font-family: 'Playfair Display', serif;">
    <!-- MENU BAR -->
    <nav class="navbar back navbar-expand-lg fixed-top ">
        <div class="container">

            <a class="navbar-brand" style="font-size: 40px;" id="one" href="index.html">Fangle</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item">
                        <a href="#home"  class="nav-link smoothScroll">Home</a>
                    </li>

                    <li class="nav-item">
                        <a href="sell-your-cloth" class="nav-link smoothScroll">sell your cloths</a>
                    </li>

                    <li class="nav-item">
                        <a href="#contact" class="nav-link smoothScroll">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="#about" class="nav-link smoothScroll">About Us</a>
                    </li>
                </ul>

                <ul class="social-icon ml-lg-3">
                    <li><a href="https://fb.com/FANGLE" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="https://www.instagram.com/fangle_upcyclestore/?hl=en" class="fa fa-instagram"></a></li>
                </ul>
            </div>

        </div>
    </nav>


     <!-- HERO -->
     <section class="hero d-flex flex-column justify-content-center align-items-center" id="home">

            <div class="bg-overlay"></div>

               <div class="container">
                    <div class="row">
                        <video autoplay muted loop id="myVideo" >
                            <source src="img/home.webm" type="video/mp4">
                          </video>
                         <div class="col-lg-8 col-md-10 mx-auto col-12" id="content">
                              <div class="hero-text mt-5 text-center">
                                    <h1 class="text-white" data-aos="fade-up"  style="font-family: 'Playfair Display', serif; font-size: 3rem;" data-aos-delay="500">Welcome to FANGLE</h1>
                                    <a href="#step1"  class="btn custom-btn bordered btn-lg" data-aos="fade-up" data-aos-delay="700">lets upcycle</a>
                                   
                              </div>
                         </div>
                    </div>
               </div>
     </section>   
       <!--classes  -->				
     <div id="bck">

       <section class="class section " id="step1">
        <div  class="container shadow-lg p-3 mb-3 hi rounded" >
                        <div class="row text-center p-5 " >
                            <div class="col-lg-12 p-3 ">
                                <h1 data-aos="fade-up" data-aos-delay="200" style="font-family: 'Playfair Display', serif; word-spacing:1rem; ">Select your Apparel</h1>
                            </div>
                             <div class='col-lg-12 align-items-center' id="01"  data-aos="fade-up" data-aos-delay="400">


                              <button class="column ui toggle button m-2 b" id="0" value="jeans" onclick="toggle(this.id)"style="font-family: 'Playfair Display', serif;">Jeans</button>
                              <button class="column ui toggle button m-2 b" id="1" onclick="toggle(this.id)"style="font-family: 'Playfair Display', serif;">Palazzo</button>
                                <button class="column ui toggle button m-2 b" id="2" onclick="toggle(this.id)"style="font-family: 'Playfair Display', serif;">Short skirt</button>
                                <button class="column ui toggle button m-2 b" id="3" onclick="toggle(this.id)"style="font-family: 'Playfair Display', serif;">Long skirt</button>
                                <button class="column ui toggle button m-2 b" id="4" onclick="toggle(this.id)"style="font-family: 'Playfair Display', serif;">Duppata</button>
                                <button class="column ui toggle button m-2 b" id="5" onclick="toggle(this.id)"style="font-family: 'Playfair Display', serif;">Kurti</button>
                                <button class="column ui toggle button m-2 b" id="6" onclick="toggle(this.id)"style="font-family: 'Playfair Display', serif;">Shirt</button>
                                <button class="column ui toggle button m-2 b" id="7" onclick="toggle(this.id)"style="font-family: 'Playfair Display', serif;">Bodycon</button>
                                <button class="column ui toggle button m-2 b" id="8" onclick="toggle(this.id)"style="font-family: 'Playfair Display', serif;">Top/Tee</button>
                                <button class="column ui toggle button m-2 b" id="9" onclick="toggle(this.id)"style="font-family: 'Playfair Display', serif;">Saree</button>
                            </div>
                             <div class="col-lg-8 col-md-10 mx-auto col-12">
                                <div class="hero-text mt-5 text-center">
                                  <a   class="btn custom-btn bordered btn-lg" style="color: #ffffff;" id="next" onclick="next(this.id)" data-aos="fade-up" data-aos-delay="700">Next Step</a> 
                                </div>
                           </div>
                    </div>
                </div>
                <script>

                </script>
            </section>
        <section class="class section " id="step2">
            <div  class="container  shadow-lg p-3 mb-5 hi rounded  ">
                            <div class="row text-center p-5 " >
                                <div class="col-lg-12 p-3 ">
                                    <h1 data-aos="fade-up" data-aos-delay="200" style="font-family: 'Playfair Display', serif; word-spacing:1rem;" >Select your Apparel size</h1>
                                </div>
                                <div class='col-lg-12 align-items-center' id="01"  data-aos="fade-up" data-aos-delay="400">
                                    <button class="column ui toggle button m-2" style="font-family: 'Playfair Display', serif; " id="Free" onclick="ttoggle(this.id)">Free</button>
                                    <button class="column ui toggle button m-2" style="font-family: 'Playfair Display', serif;" id="XS" onclick="ttoggle(this.id)">XS</button>
                                    <button class="column ui toggle button m-2" style="font-family: 'Playfair Display', serif;" id="S" onclick="ttoggle(this.id)">S</button>
                                    <button class="column ui toggle button m-2" style="font-family: 'Playfair Display', serif;" id="M" onclick="ttoggle(this.id)">M</button>
                                    <button class="column ui toggle button m-2" style="font-family: 'Playfair Display', serif;" id="L" onclick="ttoggle(this.id)">L</button>
                                    <button class="column ui toggle button m-2" style="font-family: 'Playfair Display', serif;" id="XL" onclick="ttoggle(this.id)">XL</button>
                                    <button class="column ui toggle button m-2" style="font-family: 'Playfair Display', serif;" id="XXL" onclick="ttoggle(this.id)">XXL</button>
                                    <button class="column ui toggle button m-2" style="font-family: 'Playfair Display', serif;" id="3XL" onclick="ttoggle(this.id)">3XL</button>
                                    <button class="column ui toggle button m-2" style="font-family: 'Playfair Display', serif;" id="4XL" onclick="ttoggle(this.id)">4XL</button>
                                    <button class="column ui toggle button m-2" style="font-family: 'Playfair Display', serif;" id="5XL" onclick="ttoggle(this.id)">5XL</button>
                                </div>
                                    <div class="col-lg-8 col-md-10 mx-auto col-12">
                                    <div class="hero-text mt-5 text-center">
                                        <a href="#step1"  class="btn custom-btn bordered mt-3" id="s2prev" onclick="next(this.id)" data-aos="fade-up" data-aos-delay="700">Previous step</a> 
                                        <a href="#step3"  class="btn custom-btn bordered mt-3" id="s2next" onclick="nextt(this.id)" data-aos="fade-up" data-aos-delay="700">Next Step</a> 
                                    </div>
                                </div>
                        </div>
                    </div>
            </section>
        <section class="class section" id="step3">
            <div  class="container shadow-lg p-3 mb-5 hi rounded">
                            <div class="row text-center p-5" >
                                
                                <div class="col-lg-12 p-3 ">
                                    <h1 data-aos="fade-up" data-aos-delay="200" style="font-family: 'Playfair Display', serif; word-spacing:1rem;" >Possible outcome after upcycling</h1>
                                </div>                                         
                                <div class='col-lg-12 align-items-center' id="s1"  data-aos="fade-up" data-aos-delay="400">
                                </div>
                                <div class="col-lg-8 col-md-10 mx-auto col-12">
                                    <div class="hero-text mt-5 text-center">
                                        <a href="#step2"  class="btn custom-btn bordered mt-3" onclick="next(this.id)" data-aos="fade-up" data-aos-delay="700">Previous step</a> 
                                        <a href="#step4"  class="btn custom-btn bordered mt-3" onclick="dynamic1(this.id)" data-aos="fade-up" data-aos-delay="700">Next Step</a> 
                            </div>
                                </div>
                        </div>
                    </div>
            </section>
        <section class="class section" id="step4">
            <div  class="container shadow-lg p-3 mb-5  rounded hi">
                            <div class="row text-center p-5" >
                                <div class="col-lg-12 p-3 ">
                                    <h1 data-aos="fade-up" data-aos-delay="200" style="font-family: 'Playfair Display', serif; word-spacing:1rem;" >Select your Apparel size</h1>
                                </div>
                                <div class='col-lg-12 align-items-center' id="more2"  data-aos="fade-up" data-aos-delay="400">
                                    <h3>We can make only one dress out of your apparel</h3>
                                </div>

                                <div class="col-lg-8 col-md-10 mx-auto col-12">
                                <div class="hero-text mt-5 text-center">
                                    <a  onclick="dynamic2(this.id)"  class="btn custom-btn bordered mt-3 fa fa-whatsapp " style="color: #ffffff;" id="next1" data-aos="fade-up" data-aos-delay="700">     Send on whatsapp</a> 
                                    <!-- <a onclick="dynamic1(this.id)" id="next1" style="font-size: 3vh;" data-aos="fade-up" data-aos-delay="700">Get Prize</a>  -->
                                </div>
                            </div>
                            </div>
                                
                        </div>
            </section>
                            <!-- <section class="class section" id="step2">
                                <div  class="container shadow-lg p-3 mb-5 bg-white rounded">
                                                <div class="row text-center p-5" >
                                                    <div class="col-lg-12 p-3 ">
                                                        <h2 data-aos="fade-up" data-aos-delay="200" >Select your Apparel size</h2>
                                                    </div>
                                                    <div class='col-lg-12 align-items-center' id="more2"  data-aos="fade-up" data-aos-delay="400">
                                                        
                                                    </div>
                                                     <div class="col-lg-8 col-md-10 mx-auto col-12">
                                                        <div class="hero-text mt-5 text-center">
                                                            <a href="#step1"  class="btn custom-btn bordered mt-3" onclick="next(this.id)" data-aos="fade-up" data-aos-delay="700">Previous step</a> 
                                                          <a href="#step3"  class="btn custom-btn bordered mt-3" data-aos="fade-up" data-aos-delay="700">Next Step</a> 
                                                        </div>
                                                   </div>
                                            </div>
                                        </div>
                                    </section> -->
                    <!-- <section> -->
                        <!-- <div class="container shadow-lg p-3 mb-5 sm-p-5 hi rounded col-md-4">
                            <div class="row">
                                <div class="col-md">
                                    <a  href="https://ibb.co/kBnXySB"><img src="https://i.ibb.co/RbncSDb/swimdress.jpg" alt="swimdress" style="height: 80vh; "></a>

                                </div>
                                <div class="p-3">
                                    <label for="cars"><h3>Choose a car:</h3></label>

                                    <select name="cars" id="cars">
                                      <option value="volvo">sweetheart</option>
                                      <option value="saab">fauxkini</option>
                                      <option value="mercedes">ruffled</option>
                                      <option value="audi">flounce top</option>
                                      <option value="audi">one shoulder</option>
                                      <option value="audi">blousson</option>
                                      <option value="audi">criss-cross</option>
                                      <option value="audi">vintage</option>
                                      <option value="audi">keyhole</option>
                                      <option value="audi">halter</option>
                                      <option value="audi">halter</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="container shadow-lg p-3 mb-5 hi rounded col-md-4">
                            <div class="row">
                                <div class="col-md">
                                    <a  href="https://ibb.co/kBnXySB"><img src="https://i.ibb.co/RbncSDb/swimdress.jpg" alt="swimdress" style="height: 80vh; "></a>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="card" style="width: 30vw;" >
                            <img src="https://i.ibb.co/RbncSDb/swimdress.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                          </div>
                    </section> -->
    </div>
     <!-- main selection -->


    <!-- ABOUT -->


      <article class="wrapper" id="about">
            <div class="container">
                 <div class="row">

                         <div class="mt-lg-5 mb-lg-0 mb-4 col-lg-5 col-md-10 mx-auto col-12">
                             <h2 class="mb-4" data-aos="fade-up" data-aos-delay="300">Hello, we are FANGLE</h2>

                             <p data-aos="fade-up" data-aos-delay="400" >You are NOT allowed to redistribute this HTML template downloadable ZIP file on any template collection site. You are allowed to use this template for your personal or business websites.</p>

                             <p data-aos="fade-up" data-aos-delay="500">If you have any question regarding <a rel="nofollow" href="https://www.tooplate.com/view/2119-gymso-fitness" target="_parent">Gymso Fitness HTML template</a>, you can <a rel="nofollow" href="https://www.tooplate.com/contact" target="_parent">contact Tooplate</a> immediately. Thank you.</p>

                         </div>
                 </div>
            </div>
        </article>
  <section>
      <div class="container">
  </section>
<!-- pop-up -->
     <!-- <button type="button" id="fixedpop" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Size Chart</button>

     <div id="myModal" class="modal fade"  tabindex="-1" role="dialog">
       <div class="modal-dialog" >
         <div class="modal-content">
             <div class="modal-body">
                 <img src="//placehold.it/1000x600" class="img-responsive">
             </div>
         </div>
       </div>
     </div> -->
     <!-- CONTACT -->
     <section class="contact section" id="contact">
          <div class="container">
               <div class="row">

                    <div class="ml-auto col-lg-5 col-md-6 col-12">
                        <h2 class="mb-4 pb-2" data-aos="fade-up" data-aos-delay="200">Feel free to ask anything</h2>

                        <form action="#" method="post" class="contact-form webform" data-aos="fade-up" data-aos-delay="400" role="form">
                            <input type="text" class="form-control" name="cf-name" placeholder="Name">

                            <input type="email" class="form-control" name="cf-email" placeholder="Email">

                            <textarea class="form-control" rows="5" name="cf-message" placeholder="Message"></textarea>

                            <button type="submit" class="form-control" id="submit-button" name="submit">Send Message</button>
                        </form>
                    </div>

                    <div class="mx-auto mt-4 mt-lg-0 mt-md-0 col-lg-5 col-md-6 col-12">
                        <h2 class="mb-4" data-aos="fade-up" data-aos-delay="600">Where you can <span>find us</span></h2>

                        <p data-aos="fade-up" data-aos-delay="800"><i class="fa fa-map-marker mr-1"></i> MAPS</p>
<!-- How to change your own map point
	1. Go to Google Maps
	2. Click on your location point
	3. Click "Share" and choose "Embed map" tab
	4. Copy only URL and paste it within the src="" field below
-->
                        <div class="google-map" data-aos="fade-up" data-aos-delay="900">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31123.070693398935!2d79.67714897144361!3d12.818455221205154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a52c2f7e0c7f12d%3A0xde5f8682b1cb2a4d!2sVedachalam%20Nagar%20Extension%2C%20Kanchipuram%2C%20Tamil%20Nadu%20631502!5e0!3m2!1sen!2sin!4v1641492408492!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" width="1920" height="250" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                        </div>
                    </div>
                    
               </div>
          </div>
     </section>


     <!-- FOOTER -->
     <footer class="site-footer">
          <div class="container">
               <div class="row">

                    <div class="ml-auto col-lg-4 col-md-5">
                        <h5>Website by : <a href="mailto:shridhardevaraj@gmail.com">Shridhar</a></h5>
                        <!-- <p class="copyright-text">shridhar
                        
                        <br>Design: <a href="shridhardevaraj@gmail.com">shridhardevarj</a></p> -->
                    </div>
                   
               </div>
          </div>
     </footer>

    <!-- Modal -->
    <div class="modal fade" id="membershipForm" tabindex="-1" role="dialog" aria-labelledby="membershipFormLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">

        <div class="modal-content">
          <div class="modal-header">

            <h2 class="modal-title" id="membershipFormLabel">Membership Form</h2>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <form class="membership-form webform" role="form">
                <input type="text" class="form-control" name="cf-name" placeholder="John Doe">

                <input type="email" class="form-control" name="cf-email" placeholder="Johndoe@gmail.com">

                <input type="tel" class="form-control" name="cf-phone" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>

                <textarea class="form-control" rows="3" name="cf-message" placeholder="Additional Message"></textarea>

                <button type="submit" class="form-control" id="submit-button" name="submit">Submit Button</button>

                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="signup-agree">
                    <label class="custom-control-label text-small text-muted" for="signup-agree">I agree to the <a href="#">Terms &amp;Conditions</a>
                    </label>
                </div>
            </form>
          </div>

          <div class="modal-footer"></div>

        </div>
      </div>
    </div>
     <!-- SCRIPTS -->
     <script src="js/bootstrap.min.js"></script>
     <script src="js/jquery.min.js"></script>
     <script src="js/aos.js"></script>
     <script src="js/smoothscroll.js"></script>
     <script src="js/custom.js"></script>
     <script>
        $(window).on("load",function(){
        $(".loader-wrapper").fadeOut("slow");
            });
            var size = 'a'
            var dress = 0
            var input = 0
            var s2 = 's'
            var s3 = 's'

            // answers
            var answers1 = 'a'
            var answers2 = 'a'
            var answers3 = 'a'
            var answers4 = 'a'
           
            function gotowhatsapp() {
                var url = "https://wa.me/919442829974?text=" 
                + "I have a  " + answers1 + "%0a"
                + ",And my size is " + answers2 + "%0a"
                + "I want to UPCYCLE it too a  " + answers3  + "%0a"
                + "and a " + answers4; 
                window.open(url, '_blank').focus();
            }
            function toggle(a){
                        console.log(a)
                        var button = document.getElementById(a)
                        dress = a
                        var activee = document.getElementsByClassName('ui toggle button active')
                        var active = document.getElementsByClassName('ui toggle button active').length
                        console.log(activee)
                        if (active != 0) {
                            console.log(activee[0].classList.toggle('active'))
                        } else {
                            button.classList.toggle('active')   
                        }
                    }
            function ttoggle(a){
                        console.log(a)
                        size = a
                        var button = document.getElementById(a)
                        
                        var active = document.getElementsByClassName('ui toggle button active').length
                        button.classList.toggle('active')
                    }
            function tttoggle(a){
                console.log(a)
                        var button = document.getElementById(a)
                        s2 = a
            
                        var activee = document.getElementsByClassName('ui toggle button a active ')
                        var active = document.getElementsByClassName('ui toggle button a active').length
                        console.log(activee)
                        if (active != 0) {
                            activee[0].classList.toggle('active')
                        } else {
                            button.classList.toggle('active')   
                     
                        }
                    }
            function ttttoggle(a){
                console.log(a)
                        var button = document.getElementById(a)
                        s3 = button.textContent
                        console.log(s2)
                        console.log(s3)
                        var activee = document.getElementsByClassName('ui toggle button b active ')
                        var active = document.getElementsByClassName('ui toggle button b active').length
                        console.log(activee)
                        if (active != 0) {
                            activee[0].classList.toggle('active')
                        } else {
                            button.classList.toggle('active')   
                     
                        }
                    }

            function nextt(a){
                var button = document.getElementById(a)
                        var parent = document.getElementById('01')
                        var votedchild = parent.getElementsByClassName("ui toggle button active").length
                            if (votedchild == 1){
                                document.getElementById('step2').scrollIntoView({
                                    behavior:"smooth"
                                });
                            }else{
                                document.getElementById('step1').scrollIntoView({
                                    behavior:"smooth"
                                });
                            }
                        
                        var answer = document.getElementById(size)
                            answers2 = answer.textContent
                            console.log(answers2)
                        }
            function next(a){
                console.log(a)
                var button = document.getElementById(a)
                console.log(button)
                        var parent = document.getElementById('01')
                        var votedchild = parent.getElementsByClassName("ui toggle button active").length
                            if (votedchild == 1){
                                input = a
                                document.getElementById('step2').scrollIntoView({
                                    behavior:"smooth"
                                });
                            }else{
                                document.getElementById('step1').scrollIntoView({
                                    behavior:"smooth"
                                });
                            }
                        
                        var test = <%- JSON.stringify(moviesList) %>
                        console.log(dress)
                        var answer = document.getElementById(dress)
                            answers1 = answer.textContent
                            console.log(answers1)
                        var stage1 = test[dress].stage1
                        var container = document.getElementById('s1');
                        container.innerHTML = ""
                for (var i = 0; i < stage1.length; i++) {
                    var button = document.createElement('button');
                        button.type = 'button';
                        button.id = 10 + i;
                        button.setAttribute("onclick", "tttoggle(this.id)");
                        button.innerHTML = stage1[i];
                        button.className = 'column ui toggle button m-2 a';
                        container.appendChild(button);
                    }
                    }
            function dynamic1(a){
                        var parent = document.getElementById('s1')
                        var votedchild = parent.getElementsByClassName("ui toggle button active").length
                            if (votedchild == 1){
                                input = a
                                document.getElementById('step4').scrollIntoView({
                                    behavior:"smooth"
                                });
                            }else{
                                document.getElementById('step2').scrollIntoView({
                                    behavior:"smooth"
                                });
                                container.innerHTML = ""

                            }
                        
                        var test = <%- JSON.stringify(moviesList) %>
                        console.log(s2)
                        var answer = document.getElementById(s2)
                            answers3 = answer.textContent
                            console.log(answers3)
                        var stage2 = test[dress][s2]
                        var container = document.getElementById('more2');
                        container.innerHTML = ""
                for (var i = 0; i < stage2.length; i++) {
                    var button = document.createElement('button');
                        button.type = 'button';
                        button.id = stage2[i];
                        button.style = "font-family: 'Playfair Display', serif;"
                        button.setAttribute("onclick", "ttttoggle(this.id)");
                        button.innerHTML = stage2[i];
                        button.className = 'column ui toggle button b m-2';
                        container.appendChild(button);                    
                    }
                    }
            function dynamic2(a){
                var parent = document.getElementById('more2')
                var votedchild = parent.getElementsByClassName("ui toggle button active").length
                    if (votedchild == 1){
                        var answer = document.getElementById(s3)
                        answers4 = answer.textContent
                        console.log(answers4)
                        gotowhatsapp()
                    }else{
                        document.getElementById('step4').scrollIntoView({
                            behavior:"smooth"
                        });
                    }
                console.log(s3)

                }
                                        //     var parent = document.getElementById('s1')
                    //     var votedchild = parent.getElementsByClassName("ui toggle button active").length
                    //         if (votedchild != 0){
                    //             input = a
                    //             console.log(votedchild[0].classList.toggle('active'))
                    //         }else{
                    //             button.classList.toggle('active')   

                    //         }
                    // }

                
                        //                 // var button = document.getElementById(a)
                        
                        // // var active = document.getElementsByClassName('ui toggle button active').length
                        // // button.classList.toggle('active')
                        // // console.log(a)
                        // var button = document.getElementById(a)
                        // var active = document.getElementsByClassName('ui toggle button active')
                        // console.log(active)
                        // if (active.length != 0) {
                        //     console.log(active[0].classList.toggle('active'))
                        // } else {
                        //     button.classList.toggle('active')
                        //     var test = <%- JSON.stringify(moviesList) %> 
                        //     console.log(test)
                        //     var stage2 = test[dress][a]
                        //         var container = document.getElementById('s2');
                        //         container.innerHTML = ""
                        // for (var i = 0; i < stage2.length; i++) {
                        //     var button = document.createElement('button');
                        //         button.type = 'button';
                        //         button.id = stage2[i]
                        //         button.setAttribute("onclick", "tttoggle(this.id)");
                        //         console.log(button)
                        //         button.innerHTML = stage2[i];
                        //         button.className = 'column ui toggle button m-2';
                        //         container.appendChild(button);
                        //     console.log(stage2[i])
                        //     }
                        //     }  
                        // }
                    
            // function dynamic1(a){
            //     console.log(a)
            //     for (var i = 0; i < a.length; i++) {
            //         var button = document.createElement('button');
            //             button.type = 'button';
            //             button.innerHTML = a[i];
            //             button.className = 'column ui toggle button m-2';
                    
            //             // button.onclick = 
                    
            //             var container = document.getElementById('more');
            //             container.appendChild(button);
            //         console.log(a[i])
            //         }
            //         }
            // function stage2(a){
            //     console.log(a)
            //     for (var i = 0; i < a.length; i++) {
            //         var button = document.createElement('button');
            //             button.type = 'button';
            //             button.innerHTML = a[i];
            //             button.className = 'column ui toggle button m-2';
                    
            //             // button.onclick = stage2(test[dress].stage2)
                    
            //             var container = document.getElementById('more2');
            //             container.appendChild(button);
            //         console.log(a[i])
            //         }
            //         }
    </script>
</body>
</html>
